html{
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url(/img/mario.png) no-repeat;
  font-family: sans-serif;
  background-size: 100%;
  background-color: chocolate;
  min-height: 100%;
}
form{
  padding: 20px;
  margin-top: 60px;
}
form button , form h5{
  margin: 20px 0;
}
